.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: #865d36;
}

#logo{
    width: 40px;
}

.nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.nav-logo sup{
    font-size: 15px;
}

.nav-logo span{
    font-size: 10px;
}

.nav-profile{
    width: 75px;
}